<!doctype html>
<title>ANVIL {{ actor }}</title>
{% if actor %}
    <h1>Hello {{ actor }}!</h1>
    <form action="/reload">
        <button name="reload" type="submit">Check for messages</button>
    </form>
    </form>
    {% if not setup %}
        <form action="/setup" method="post">
            <button name="setup" type="submit">Setup</button>
        </form>
    {% endif %}
    {% if have_data %}
        <form action="/respond" method="post">
            <button name="respond" type="submit">Send response</button>
        </form>
    {% endif %}
    {% if channel_established %}
        <form action="/get_verinym" method="post">
            <button name="get_verinym" type="submit">Get Verinym</button>
        </form>
    {% endif %}
    <form action="/reset">
        <button name="reset" type="submit">Reset</button>
    </form>
{% else %}
    <h1>Failed to load render_template() parameters.</h1>
{% endif %}