<!doctype html>
<head>
    <title>ANVIL {{ actor }}</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
{% if actor %}
    <h1>{{ actor }}</h1>
    {% if not setup %}
        <form action="/setup" method="post">
            <button name="setup" type="submit">Connect to Sovrin</button>
        </form>
    {% else %}
        <form action="/reload">
            <button name="reload" type="submit">Check for messages</button>
        </form>
    {% endif %}
    {% if have_data and not responded %}
        Connection request from {{ request_ip }}
        <form action="/respond" method="post">
            <button name="respond" type="submit">Send response</button>
        </form>
    {% endif %}
    {% if channel_established and not have_verinym %}
        <form action="/get_verinym" method="post">
            <button name="get_verinym" type="submit">Open secure channel</button>
        </form>
    {% endif %}
    {% if have_verinym %}
        <br>
        Register a prover who can receive your credentials:
        <form action="/connection_request" method="post">
            <input name="name" placeholder="Name">
            <input name="ip_address" placeholder="I.P. address">
            <button name="connection_request" type="submit">Connection request</button>
        </form>
        {% if prover_registered %}
            <br>
            Create a credential:
            <form action="/create_credential" method="post">
                <textarea name="schema" rows="10" cols="100" placeholder="Schema JSON"></textarea><br>
                <button name="create_credential" type="submit">Create credential</button>
            </form>
            Created schema: {{ created_schema }}
            <br><br>
            You may offer any of the above to anyone at your chosen IP.
            <form action="/offer_credential" method="post">
                <input name="schema_name" placeholder="Schema name as above">
                <input name="ip_address" placeholder="I.P. address">
                <button name="connection_request" type="submit">Offer credential</button>
            </form>
        {% endif %}
        {% if credential_requested %}
            <br>
            Credential requested by {{ request_ip }}.
            <form action="/send_credential" method="post">
                <button name="send_credential" type="submit">Send credential</button>
            </form>
        {% endif %}
    {% endif %}
    <br>
    <form action="/reset">
        <button name="reset" type="submit">Reset</button>
    </form>
{% else %}
    <h1>Failed to load render_template() parameters.</h1>
{% endif %}
</body>
