<!doctype html>
<head>
    <title>ANVIL {{ actor }}</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
{% if actor %}
    <h1>Hello {{ actor }}!</h1>
    {% if not setup %}
        <form action="/setup" method="post">
            <button name="setup" type="submit">Connect to Sovrin</button>
        </form>
    {% else %}
        <form action="/reload">
            <button name="reload" type="submit">Check for messages</button>
        </form>
    {% endif %}
    {% if have_data and not responded %}
        Connection request from {{ request_ip }}
        <form action="/respond" method="post">
            <button name="respond" type="submit">Send response</button>
        </form>
    {% endif %}
    {% if channel_established and not have_verinym %}
        <form action="/get_verinym" method="post">
            <button name="get_verinym" type="submit">Open secure channel</button>
        </form>
    {% endif %}
    {% if have_verinym %}
        Search for Fetch services:
            <form action="/search_for_services" method="post">
                <input name="searchterms" placeholder="Search terms">
                <button name="search_for_services" type="submit">Search</button>
            </form>
        {% if search_results %}
            Results: {{ search_results }}
        {% endif %}
        <br>
        Onboard a prover whose credentials you can verify:
        <form action="/connection_request" method="post">
            <input name="name" placeholder="Name">
            <input name="ip_address" placeholder="I.P. address">
            <button name="connection_request" type="submit">Connection request</button>
        </form>
        {% if prover_registered %}
            <form action="/request_proof" method="post">
                <textarea name="proofrequest" rows="10" cols="100" placeholder="Proof request JSON"></textarea>
                <button name="request_proof" type="submit">Request proof</button>
            </form>
        {% endif %}
        {% if have_proof %}
            Proof received.
            <form action="/verify" method="post">
                <button name="verify" type="submit">Verify</button>
            </form>
        {% endif %}
        {% if search_results %}
        Purchase service:
        <form action="/purchase_service" method="post">
            <input name="maxprice" placeholder="Max price">
            <button name="purchase_service" type="submit">Purchase</button>
        </form>
        {% endif %}
    {% endif %}
    <form action="/reset">
        <button name="reset" type="submit">Reset</button>
    </form>
{% else %}
    <h1>Failed to load render_template() parameters.</h1>
{% endif %}
</body>
