body {
    min-height: 100vh;
    background: linear-gradient(135deg, #5936cc, #292929);;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    text-align: center;
    padding-top: 4em
}
h1 {
    font-weight: 100;
}
button, input, textarea {
    font-family: 'Lato', sans-serif;
    box-shadow: none;
    border: 1px solid #ffffff;
    border-radius: 0.5em;
    padding: 1em;
    margin: 1em;
    user-select: none;
    outline: none;
    transition: all .1s ease-in;
}
input, textarea {
    background-color: #ffffff;
    color: #5936cc;
}
button {
    background-color: transparent;
    color: #ffffff;
}
button:hover {
    border: 1px solid #292929;
}
button:focus {
    animation-name: pulse;
    animation-duration: 800ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
::placeholder {
    color: #5936cc;
}
@keyframes pulse {
    0%   { border-color: #292929; }
    50%  { border-color: #5936cc; }
    100% { border-color: #292929; }
}